.navbar .nav-link {
  color: white;
  font-size: 30px;
}

.navbar .nav-link:hover {
  color: yellow;
}

.navbar i {
  color: white;
}

.navbar i:hover {
  color: yellow;  
}

.navbar-nav .nav-link {
  cursor: pointer;
}