<div class="container my-5">

  <h2 class="text-center fw-bold mb-4">Nuestras Sucursales</h2>

  <div class="card shadow p-4">
    <div class="row text-center">

      <div class="col-md-4 mb-4">
        <h5 class="text-info mb-3">El Dorado</h5>
        <img 
          src="imagenes/dorado.jpg" 
          class="img-fluid rounded mb-3"
          alt="Sucursal El Dorado"
        >
        <p>Ubicados en plaza el dorado local 120-A.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-info mb-3">Centro SLP</h5>
        <img 
          src="imagenes/centro.jpg" 
          class="img-fluid rounded mb-3"
          alt="Sucursal Centro"
        >
        <p>Ubicados en el centro histórico frente a plaza de armas.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-info mb-3">Tangamanga</h5>
        <img 
          src="imagenes/tangamanga.jpg" 
          class="img-fluid rounded mb-3"
          alt="Sucursal Tangamanga"
        >
        <p>Ubicados en plaza tangamanga local 415-B.</p>
      </div>

    </div>
  </div>

</div>